.git
.env
.env.backup
.env.production
.claude/
CLAUDE.md
node_modules
vendor
storage/logs/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/data/*
tests
phpunit.xml
.phpunit.cache
postman
